/* 

*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* 캔버스 시작*/
.draggable-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #ccc;
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: space-between;
  }

  .draggable {
    width: 500px;
    height: 200px;
    position: absolute;
    cursor: grab;
    white-space: nowrap;
    overflow: hidden;
    background: white;
  }

  /* 자기소개 탭*/
  .draggable.f1  {
    width: 50%;
    background: linear-gradient(45deg, #3498db, #6dd5fa, #ffffff);
    font-family: 'Arial', sans-serif;
  }
  
  /*외부 링크탭*/
  .draggable.f2 {
    width: 50%;
    position: absolute;
    right: 0;
    z-index: 1;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #ffffff, #cbf278);
  }
  
  /* 본문 탭*/
  .draggable.f3 {
    position: absolute;
    z-index: 1;
    top: 200px;
    width: 100%;
    height: 630px;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(-45deg, #667eea, #70e194);
  }
  /* 탭 전체 적용 요소*/
  .scrollable-content {

    white-space: normal;
    overflow: auto;
    max-height: 100%;
    flex-grow: 1;
  }

  /* 자기 소개탭 안에 컨텐츠 박스*/
  #scrollableContentF1 {
    width: 100%;
    height: 200px;
    
  }
  /* 외부 링크탭 안에 컨텐츠 박스*/
  #scrollableContentF2 {
    width: 100%;
    height: 500px;
  }
  /* 본문탭 안에 컨텐츠 박스*/
  #scrollableContentF3 {
    width: 100%;
    height: 100%;
  }

  /* 스크롤 바 투명*/
  .scrollable-content::-webkit-scrollbar {
    display: none;
  }


/* 외부 링크 테이블*/
  .logo_table {
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }

  .logo_table .td1 {
    width: 10%;
    text-align: center;
  }


    /* 외부 링크 로고*/
    .instagram {
      width: 50px;
      height: 50px;
    }
  
    .github {
      width: 45px;
      height: 45px;
    }
  
    .obsidian {
      width: 70px;
      height: 70px;
    }
    /*외부 링크 로고 끝*/

/*  외부 링크 테이블 끝*/

/* 언어 소개 테이블 */
.Lang_table {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.Lang_table_td1 {
  text-align: center;
  width: 10%;
}

.java {
  width: 50px;
  height: 50px;
}

.java_text {
  text-align: left;
}

.programmers {
  width: 140px;
  height: 50px;
}

.javascript {
  width: 50px;
  height: 50px;
}

.oracledb {
  width: 40px;
  height: 40px;
}

.nodejs {
  width: 40px;
  height: 40px;
}
/* 언어 소개 테이블끝*/




